/* mínimo de 768, então é para computador*/

@media (min-width: 768px) {
    :root {
    /*RESET*/
    margin: 0;
    padding: 0;

    /*COR E FONTE*/
    --cor-primaria: #042000;
    --cor-secundaria: #15560b;
    --cor-branca: #dddbdb;
    --fonte-principal: 'Roboto', sans-serif;

    /*MEDIDAS*/
    --espacamento-pequeno: 0.5rem;
    --espacamento-medio: 1rem;
    --espacamento-grande: 2em;
}

header {
    padding: 0px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}


/*CABEÇALHO*/
.container {
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 2;
}

.textos-cabecalho {
    width: 95%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-fundo {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -1;
}

h1,
h2,
h3 {
    font-weight: 60px;
}

a {
    text-decoration: none;
    color: var(--cor-branca);
}

.opcoes {
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


body {
    margin: 0;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    line-height: 0.6;
}

#destaque {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.562);

}

#destaque .texto {
    height: 300px;
    font-size: 20px;
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;

}

.btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-cta {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}

#funcoes {
    background-color: #dddbdb;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}

#especificacoes {
    background-color: #caf194;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}

#depoimentos {
    background-color: #398576;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}

#agende {
    background-color: #b747ab;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}


}







 /* PARA DESKTOP */

:root {
    /*RESET*/
    margin: 0;
    padding: 0;

    /*COR E FONTE*/
    --cor-primaria: #020e00;
    --cor-secundaria: #15560b;
    --cor-branca: #dddbdb;
    --cor-cinza: rgb(44, 42, 42);
    --fonte-principal: 'Roboto', sans-serif;

    /*MEDIDAS*/
    --espacamento-pequeno: 0.5rem;
    --espacamento-medio: 1rem;
    --espacamento-grande: 2em;
}

header {
    padding: 0px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}


/*CABEÇALHO*/
.container {
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 2;
}

.textos-cabecalho {
    width: 95%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-fundo {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -1;
}


.video-fundo-drone {
    position: relative;

    width: 100%;
    height: 100vh;
    object-fit: cover;
}

h1,
h2,
h3 {
    color: var(--cor-branca);
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--cor-branca);
}

.opcoes {
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


body {
    margin: 0;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    line-height: 0.6;
}

#destaque {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    background-color: rgba(0, 0, 0, 0.562);

}

#destaque .texto {
    border: 1px solid red;
    height: 300px;

    font-size: 2rem;
    color: var(--cor-branca);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1;
    
    z-index: 1;
    position: relative;

}

.btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-cta {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}

#funcoes {
    background-color: var(--cor-primaria);
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 3;
}

#funcoes h2 {
    font-size: 25px;
    width: 95%;

    line-height: 1.3;
    text-align: center;
}

#funcoes h3 {
    font-size: 20px;
}

#funcoes p {
    font-size: 20px;
    width: 90%;
    line-height: 1;
    text-align: center;
}

#funcoes h2, h3, p {
    color: var(--cor-branca);
}



#especificacoes {
    min-height: 100vh;
    width: 100%;
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    justify-content: space-evenly;
}

#especificacoes h1 {
    color: var(--cor-branca);
    width: 90%;
    font-size:25px;
    line-height: 1;
}

#especificacoes p {
    font-size: 20px;
    line-height: 1.6;
}

.cards-especificacoes {
    background-color: var(--cor-cinza);
   border: 3px solid var(--cor-primaria);

    height: 50vh;
    width: 460px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#depoimentos {
    background-image: url(/img/img/Imagem\ 3.jpg);
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
   

    min-height: 100vh;
    max-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.bloco1 {
    border: 5px solid red;
    width: 90%;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-bloco1 {
    height: 45vh;
    border: 5px solid rgb(0, 255, 136);
}


.bloco1 h1 {
    font-size: 10px;
}

.bloco1 h2 {
    font-size: 10px;
}

.bloco1 p {
    font-size: 10px;
}

.bloco1 img {
    height: 150px;
    border-radius: 100%;
    border: 4px solid white;

    gap: 20px;
}

.bloco2 {
    border: 5px solid blue;
    width: 60%;
    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 80px;
   
}


.texto-bloco2 {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    line-height: 1.2;
}

.texto-bloco2 h1 {
    width: 100%;
    font-size: 10px;
}

#agende {
    background-color: #b747ab;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}
